# .NET build outputs
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider files
.idea/

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity files
_TeamCity*

# DotCover files
*.dotCover

# NCrunch files
_NCrunch*
.*crunch*.local.xml

# MightyMoose files
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject files
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HtmlHelpCollection
DocProject/Help/*.hh
DocProject/Help/*.hte
DocProject/Help/*.hxt
DocProject/Help/*.hxv
DocProject/Help/*.aaf

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
!packages/build/

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep the "packages" cache directory
!.packages/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.suo
*.user
*.vspscc
*.wixproj.user

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.temp

# Android / Kotlin build outputs
*.apk
*.ap_
*.aab
*.dex
*.class
build/
.gradle/
local.properties
*.iml
.idea/
*.keystore
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!local.properties.example

# Kotlin
*.kotlin_module
*.kt.swp
*.kt.swo

# Android Studio
*.log
captures/
.externalNativeBuild
.cxx/
*.hprof