version: '3.8'

services:
  android-builder:
    # Use docker-android image from budtmo
    # Reference: https://github.com/budtmo/docker-android
    image: budtmo/docker-android:emulator_14.0
    container_name: geospider-builder
    volumes:
      # Mount project directory
      - .:/home/androidusr/workspace
      # Persist Gradle cache
      - gradle-cache:/home/androidusr/.gradle
      # Mount build outputs
      - ./build-outputs:/home/androidusr/workspace/build-outputs
    environment:
      - ANDROID_HOME=/opt/android
      - ANDROID_SDK_ROOT=/opt/android
      - GRADLE_USER_HOME=/home/androidusr/.gradle
      - CI=false
    working_dir: /home/androidusr/workspace
    # Override default command to keep container running
    command: tail -f /dev/null

volumes:
  gradle-cache:
    driver: local

